/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@import './style/container.css';
@import './style/_form.css';

:root {

  /* About my color */
  --my-black-color: #010101;
  --beige-color: #f2f0ea;
  --yellow-color: #edcf5d;
  --gray-color: #a4a4a4;
  --background-color: #f3f3f3;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* typography */

h1{
  font-size: 3rem;
  font-weight: 600;
}

h2{
  font-size: 2rem;
  font-weight: 600;
}

h3{
  font-size: 1.8rem;
  font-weight: 600;
}

h4{
  font-size: 1.2rem;
  font-weight: 600;
}

li{
  list-style: none;
}

/*navigation*/

body {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  background: var(--background-color)
}

/* Lets work for mobile first */

.main--container {
  padding: 4rem 1rem 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 1rem;
}

/* Version alternative avec DaisyUI classes */
.btn-daisy {
  @apply btn btn-ghost btn-circle relative;
}

.badge-daisy {
  @apply badge badge-primary badge-sm absolute -top-1 -right-1;
  border: 2px solid white;
}